<?xml version="1.0" encoding="utf-8"?>
<!--

  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  --> 
<configuration>
     <connectionStrings>

      <add name="bubaglantininIsmi"

      connectionString="Data Source=80.93.221.224;&#xD;&#xA;&#xD;&#xA;      Initial Catalog=lutfican2D_;&#xD;&#xA;&#xD;&#xA;      User ID=cancan;&#xD;&#xA;&#xD;&#xA;      Password=Antalya1907"

      providerName="System.Data.SqlClient"/>

   </connectionStrings>
 
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
 
<customErrors defaultRedirect="404.aspx" mode="On">  
    <error statusCode="404" redirect="404.aspx" /> 
</customErrors>
  </system.web>

</configuration>